.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 400px;
  box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.2);
  background: linear-gradient(137deg, rgba(216, 220, 249, 0.3225665266106442) 0%, rgba(255, 255, 255, 1) 57%);
}

.progress-buttons__button {
  margin: 0 5px;
  background-color: transparent;
}

.control-button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transform: scale(3);
  margin: 20px;
  &:hover {
    transform: scale(3.3);
  }
}

.progressbar {
  height: 10px;
  width: 600px;
  background-color: rgb(240, 238, 238);
  position: relative;
  margin-bottom: 25px;
}

.progress {
  height: 10px;
  background-color: lightblue;
  z-index: 2;
}

.time {
  position: absolute;
  top: 15px;
  margin: 0 5px 5px 5px;
}

.endTime {
  @extend .time;
  right: 0;
}

.title {
  display: flex;
  flex-direction: column-reverse;
}

.singer {
  color: gray;
}

.progress-buttons {
  display: flex;
  align-self: flex-end;
}
